.jumbotron {
  margin: px auto;
  padding: 70px 30px;
  background: lightblue;
  color: black; 
}
.navbar-dark {
  background-color:blue;
}

.carousel-item {
height: 300px;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
.row-content{
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
#justify{
  text-align: justify;
}
#bg{
  background-image: url('https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjNt_a53IfkAhUSXK0KHZXoDwcQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.andreasreiterer.at%2Freact-list-component%2F&psig=AOvVaw2yov4mgiYECnlUGzmk5s4Q&ust=1566056289836070')
}
